body {
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    background-color: lightgray;
    padding: 10px 0;
}
.cont-head {
    display: flex;
    margin: 0 150px;
    align-items: center;
}

.verh {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    gap: 150px;
}

.kartuna img {
    width: 100%;
    max-height: 700px;
}

.kartuna {
    margin: 0 150px;
}

.opus {
    margin: 0 200px;
    text-align: justify;
}
.opus p {
    opacity: 60%;
}
.opus :nth-child(4)
{
    margin-top: 50px;
}

.grid-cont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 160px;
    row-gap: 50px;
    
}
.grid-cont2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px 160px;
    row-gap: 50px;
}

figcaption {
    opacity: 60%;
    margin-top: 20px;
}
.grid-cont img {
    width: 100%;
} 
.grid-cont2 img {
    width: 100%;
} 

.icon {
    padding-right: 50px;
    background: url("./img/free-icon-arrow-5157938.png") no-repeat right;
    background-size: 20px;
}

.forma {
    background-color: lightgray;
    padding: 50px;
    text-align: center;
}

input {
    border-style: none;
    border-bottom: 2px solid black;
    font-size: 28px;
}

.knopka {
   grid-column: 1 / span 2;
   justify-self: center;
}

button {
    background-color: white;
    padding: 15px 30px;
    font-size: 20px;
}

.nuz {
    display: flex;
    align-items: center;
    margin: 0 150px;
}

.nuz1 {
    display: flex;
    gap: 50px;
    align-items: center;
}
.nuz2 {
    display: flex;
    margin-left: auto;
    gap: 30px;
    align-items: center;
}

footer img {
    width: 30px;
}

footer ul {
    list-style-type: none;

}

footer {
    background-color: lightgray;
}

@media (max-width:960px) { 
.cont-head {
        display: inline-flex;
    }
.verh {
    gap: 10px;
    flex-direction: column;
}

.opus {
    margin: 20px;
}

.kartuna {
    margin: 20px;
}

.grid-cont {
    grid-template-columns: 1fr;
    margin: 20px;
}
.grid-cont2 {
    grid-template-columns: 1fr;
    margin: 20px;
}

.knopka {
    grid-column: 1;
    justify-self: center;
 }
.nuz {
    flex-wrap: wrap;
}

}